@import './buttons.css';
body{
    background-color: goldenrod;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
max-inline-size: 900px;
margin:auto;  
}
.player{
    margin-block-start: 10%;
    position: relative;
}
.player video{
    border: 1px solid rgb(4, 170, 134);
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}
.player-title{
    border:1px solid rgb(20, 126, 7);
    color:greenyellow;
    position:absolute;
    inset-block-start: 0px;
    inset-inline-start: 20px;

}
.player-action{
    position:absolute;
    inset:0px;
    display:flex;
    justify-content: center;
    align-items: center;
     gap: 20px;
}
.player-progress{
position:absolute;
inset-block-end:0;
inset-inline:0;
display:flex;
padding:10px;
}
.player.progress input{
    flex:1;

}
.player-overlay{
    position:absolute;
    inset:0;
    opacity:0;
    transition:.3s opacity;

}
.player:hover .player-overlay{
    opacity: 1;
} 


